<footer class="d-flex justify-content-between align-items-center px-4"> 
    <div class="d-flex justify-content align-items-center gap-2">
        <img  style="max-width:50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="logo">
        <span>© 2022 Company, Inc</span>
    </div>
    <div>
        <ul class="d-flex gap-3" style="list-style: none;">
            <li class="">
                <a class="text-decoration-none" style="color:rgba(0,0,0,0.5)" href="#">Home</a>
            </li>
            <li class="">
                <a class="text-decoration-none" style="color:rgba(0,0,0,0.5)" href="#">Products</a>
            </li>
            <li class="">
                <a class="text-decoration-none" style="color:rgba(0,0,0,0.5)" href="#">Pricing</a>
            </li>
        </ul>
    </div>
</footer>